/** Site colours */

/* Primary Colours */
$ISLightGreen: #5b945f;

$ISIndigo: #2e66e5;
$ISWhite: #ffffff;

/* Secondary Colours */
$ISSlate: #5c667e;
$ISCloud: #bdc5d5;

/* Background Colours */
$ISlightlightGreen: #9dddab;
$ISLightGrey: #f7f8f9;

/* Supporting Colours */
$ISGreen: #158463;
$ISRed: #c94515;
