/** Variables for site */

// Border Radii
$borderRadius: 0.1875rem;
$btnRadius: 1.25rem;
$formRadius: 1.25rem;

$aspectRatioPercentage: 56.25%;

/** Breakpoints */

$ISTablet: 768px;
$ISDesktop: 1280px;
