
@use "../../styles/partials/colours.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.footer {
  color: $ISSlate;
  font-size: 0.6875rem;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: 1rem;
  @include screen-greater-than(tablet) {
    font-size: 0.75rem;
    padding-top: 0.5rem;
  }
  @include screen-greater-than(desktop) {
    padding-bottom: 3rem;
    padding-top: 1rem;
  }
}
